.centrum {
  background-color: var(--grphite-backraund);
  width: 1600px;
}
.centrum-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.centrum-btn {
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: row;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: 200px;

  background-color: burlywood;
}

.features-items {
  flex-basis: calc(100% / 3);
}
.features-items-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 14px;
}

.features-items-text {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 14px;
}

.servises {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: row;

  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-left: 200px;
  margin-right: 200px; */
}
.servises-title {
  color: var(--black-text);
  font-style: 400;
  font-weight: bold;
  font-size: 36px;
  justify-content: space-between; вирівняти 
.servises-items {
}

.team {
}
.team-title {
  color: var(--black-text);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
}
.team-items {
}
.team-items-name {
  color: var(--black-text);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
}
.team-items-text {
  color: var(--gray-text);
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
}
